sitemap.xml text eol=lf
# 自动检测文本文件，并统一使用 LF 行尾符
* text=auto eol=lf

# 指定特定文件类型统一使用 LF 行尾符
*.html text eol=lf
*.css text eol=lf
*.xml text eol=lf
*.js text eol=lf
*.json text eol=lf

# 如果有批处理文件或其他 Windows 特有文件，指定为 CRLF
*.bat text eol=crlf
*.cmd text eol=crlf

*.{cmd,[cC][mM][dD]} text eol=crlf
*.{bat,[bB][aA][tT]} text eol=crlf