---
layout: default
description: "HELLO"
---

{% assign sorted_posts = site.posts | sort: 'date' | reverse %}
{% capture cached_sorted_posts %}{{ sorted_posts | jsonify }}{% endcapture %}
{% assign sorted_posts = cached_sorted_posts | parse_json %}

{% for post in sorted_posts %}
<div class="post-preview">
    <a href="{{ site.baseurl | append: post.url | replace: '//' , '/' }}">
        <h2 class="post-title">
            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
        <div class="post-content-preview">
            {{ post.content | strip_html | truncatewords: 30 }}
        </div>
    </a>
    <p class="post-meta">
        Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}
    </p>
</div>
<hr>
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<p class="pager-info">Page {{ paginator.page }} of {{ paginator.total_pages }}</p>
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//' , '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//' , '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}
