---
layout: default
title: 标签云
---

<div class="tags-page">
  <h1>标签云</h1>
  
  <div class="tag-cloud">
    {% assign tags = site.tags | sort %}
    {% for tag in tags %}
      {% assign tag_name = tag[0] %}
      {% assign post_count = tag[1] | size %}
      <a href="#{{ tag_name }}" class="tag-item" data-count="{{ post_count }}">
        {{ tag_name }} <span class="count">({{ post_count }})</span>
      </a>
    {% endfor %}
  </div>

  <div class="tag-list">
    {% for tag in tags %}
      {% assign tag_name = tag[0] %}
      <section class="tag-section" id="{{ tag_name }}">
        <h2 class="tag-title">{{ tag_name }}</h2>
        <ul class="post-list">
          {% for post in tag[1] %}
            <li class="post-item">
              <span class="post-date">{{ post.date | date: "%Y-%m-%d" }}</span>
              <a href="{{ post.url | relative_url }}" class="post-link">{{ post.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </section>
    {% endfor %}
  </div>
</div>

